<div class="row">
	<div class="col-lg-4">
		<h3>Music Video 1</h3>
		<h4>Thumbnail 1</h4>
	</div>
	<div class="col-lg-4">
		<h3>Music Video 2</h3>
		<h4>Thumbnail 2</h4>
	</div>	
	<div class="col-lg-4">
		<h3>Music Video 3</h3>
		<h4>Thumbnail 3</h4>
	</div>

</div>