<header class="navbar navbar-fixed-top nav-dark">
	<div class="container">
		<div id="logo">
			<h3>Radio Gramophone</h3>
			<h5>Alternative Voice of Iran</h5>
		</div>
		<div class="nav-item">Home</div>
		<div class="nav-item">Music Video</div>
		<div class="nav-item">Single Song</div>
		<div class="nav-item">Submit Work</div>
		<div class="nav-item">Contact Radio</div>
	</div>
</header>