<header class="navbar navbar-fixed-top nav-dark">
	<div class="container">
		<a href="<%= root_path %>"><div id="logo">
			<h3>Radio Gramophone</h3>
			<h5>Alternative Voice of Iran</h5>
		</div>
	</a>
		<div class="nav-item"><%= link_to "Home", root_path, class:"menuitem" %></div>
		<div class="nav-item">Music Video</div>
		<div class="nav-item"><%= link_to "Single Music", songs_path, class:"menuitem" %></div>
		<div class="nav-item">Submit Work</div>
		<div class="nav-item">Contact Radio</div>
	</div>
</header>
